@import "../../common/ui/color";
@import "../../common/ui/util";

.tx-dashboard-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 720px;
  min-height: 100%;
  padding: 20px;
  width: 100%;

  .tx-dashboard-welcome-title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .tx-dashboard-page-create-todo-button {
    margin-bottom: 20px;
    width: 100%;
  }

  .tx-dashboard-page-todo-list-tabs {
    .ui-tabs__navigation {
      padding: 0;
    }
  }
}
