@import "../common/ui/color";
@import "../../node_modules/travix-ui-kit/dist/ui-bundle.css";
@import "../../node_modules/travix-ui-kit/dist/theme.css";

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

p {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
}

html,
body,
#app {
  height: auto;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
}

#app {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tx-app-container {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
