.tx-todo-form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  .tx-todo-form-fields {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .tx-todo-form-field {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 15px;
    width: 100%;
  }

  .tx-todo-form-input-label {
    color: var(--tx-modal-color-dark);
    margin-bottom: 5px;
    width: 100%;
  }

  .ui-input-container {
    width: 100%;
  }

  .tx-todo-form-input,
  .tx-todo-form-textarea {
    width: 100%;
  }

  .tx-todo-form-error-list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: disc;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 100%;
  }

  .tx-todo-form-error-item {
    color: red;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  .tx-todo-form-submit-button {
    width: 100%;
  }
}
