.tx-todo-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;

  .ui-collapse {
    flex: 1 0 auto;
  }

  .ui-collapse__label {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .ui-collapse__label-icon {
    flex: 0 0 auto;
  }

  .ui-collapse__label-text {
    flex: 1 0 auto;
  }

  .tx-todo-item-collapse-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;

    .ui-checkbox input[type="checkbox"] ~ .ui-checkbox__text:before {
      top: 2px;
    }
  }

  .tx-todo-item-description {
    margin-bottom: 20px;
    white-space: pre-wrap;
  }

  .ui-collapse-item__content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .tx-todo-item-description {
    width: 100%;
  }

  .tx-todo-item-edit-todo-button,
  .tx-todo-item-delete-todo-button {
    width: calc(50% - 5px);
  }

  .tx-todo-item-edit-todo-button {
    margin-right: 10px;
  }
}
